<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Kadwa:wght@400;700&family=Keania+One&family=Lacquer&family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&family=Miriam+Libre:wght@400..700&family=Monda:wght@400..700&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="home_top_bar">
       <div class="home_bar_sections"><p></p></div>
       <div class="home_bar_sections"><img src="/icons/logo.png" alt=""></div>
       <div class="home_bar_sections"> <a href="/login">Login</a>
        <a href="/register">Register</a>
    
    </div>
    </div>

    <p class="home_title">
        First Round Finish.
    </p>

    <p class="home_subtitle">
        Where clients finish first.
    </p>


    <div class="home_images">
        <div class="home_img">
            <p class="home_title" id="white">Train.</p>
        </div>

        <div class="home_img" id="image_2">
            <p class="home_title" id="white">To.</p>
        </div>

        <div class="home_img" id="image_3">
            <p class="home_title" id="white">Win.</p>
        </div>

    </div>

    <p class="home_body">First Round Finish is a cutting-edge platform where boxing trainers create and customize workouts for their clients. Whether training beginners or experienced fighters, coaches can design tailored programs to improve technique, conditioning, and overall performance. The site offers an intuitive interface for trainers to manage workouts, track progress, and keep clients engaged. With First Round Finish, athletes get structured, professional training from skilled coaches, ensuring they’re always fight-ready. Join now, ITS FREE!</p>


    <p class="home_title">
       How does it work?
    </p>


    <iframe  src="https://www.youtube.com/embed/nQdyiK7-VlQ" frameborder="0" allowfullscreen></iframe>



  <button class="home_button">Join Now</button>



  <div class="home_top_bar">

  </div>
    
   
  <script src="/js/redirect.js"></script>
    
</body>
</html>