:root {
    --fs-xxs: 0.5rem;  
    --fs-xs: 0.75rem;  
    --fs-sm: 1rem;     
    --fs-md: 1.25rem; 
    --fs-lg: 1.5rem;  
    --fs-xl: 1.75rem;  
    --fs-xxl: 2rem;    
    --fs-xxxl: 2.25rem;
    --grey-color: #494646;
    --orange-color: #FF6F00;
    --page-margin: 4rem;
    --small-margin:2rem;
  }

  html{
    font-size: 16px;
  }

  body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Inter", serif;
  }


  .top_bar{
    display: flex;
    width: 50%;
    max-width: 46.875rem;
    background-color: black;
    padding: 1rem;

    border-radius: 1.5rem;
    
  }

  .top_bar_box{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #top_bar_logo{
   
    width: clamp(4rem, 1.714rem + 4.571vw, 6rem);
    height: clamp(4rem, 1.714rem + 4.571vw, 6rem);
    height: 4rem;
    width: 4rem;
  
  }

  .top_bar a img{
   width:clamp(2rem, -0.286rem + 4.571vw, 4rem);
   width: 2.5rem;
  }

  #top_left_right_box{
    justify-content: space-between;
  }

  .top_bar button{
    font-family: "Inter", serif;
    background-color: white;
    font-size:clamp(0.7rem, 0.357rem + 0.686vw, 1rem);
    border: none;
    font-weight: 900;
    padding: .5rem;
    border-radius: .5rem;
    font-size: .75rem;
   
  }

  .box_frame{
    width: 98%;
    max-width: 91.875rem;
    display: flex;
    justify-content: space-between;
  }


  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32%;
    height: auto;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    border: .2rem solid black;
    border-radius: 1.5rem;
  }


  @media (max-width: 800px) {
  .top_bar{
    width: 85%;
  }

  #top_bar_logo{
   
   
    height: 3rem;
    width: 3rem;
  
  }

  .top_bar a img{

   width: 2rem;
  }

  .top_bar button{
    font-size: .5rem;
  }









  }
 